/* fix 202012 */
body {
    background: url(/images/bg2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}
.headband {
    display: none;
}
.header-inner,
.sidebar,
.post-block {
    opacity: 0.9;
}
.site-brand-container {
    background: linear-gradient(45deg, #8a159e, #eb0c4f);
    border-radius: 10px 10px 0 0;
}
.main {
    margin-top: 10px;
}
/* 图片下描述 */
.post-body .image-caption, .post-body .figure .caption {
    margin-top: -10px;
    font-weight: normal;
}
.footer-inner,
.footer-inner a {
    color: #f1f2f4;
    border: none;
}
.footer-inner img {
    display: inline;
}
.sidebar {
    border-radius: 10px 10px 10px 10px;
}
.back-to-top.back-to-top-on {
    border-radius: 0px 0px 10px 10px;
}
/* 去掉线条 */
.post-body h1,
.post-body h2,
.post-body h3 {
    border: none;
}
.posts-expand .post-title {
    font-weight: bold;
}
.posts-expand .post-header {
    margin-bottom: 30px;
}
.search-active .header-inner {
    opacity: 1;
}
@media (max-width: 567px) {
    .post-block {

    padding: 25px 25px !important;
    }
    .header-inner {
    }
    .post-gallery {
    }
}

@media (max-width: 767px) {
    .post-block {
        margin: 10px 10px 0 10px !important;
    padding: 25px 25px !important;
    }
    .header-inner {
        margin: 0px 10px 0 10px !important;
    }
    .post-gallery {
        display: none;
    }
}

@media (max-width: 991px) {
    .header-inner {
        border-radius: 10px;
        margin: 0px 10px 0 10px !important;
    }
    .post-gallery {
        display: none;
    }
}
.links-of-blogroll {
    text-align: left;
    margin: 0 5px;
    margin-top: 15px;
    font-size: 12px;
}
.links-of-blogroll-title {
    text-align: center;
}
.links-of-blogroll-list {
    color: #999;
    white-space: normal !important;
    text-align: left !important;
    list-style-type: disc !important;
}
.passage-end-tag {
    text-align: center;
    color: #e09aa7;
}
/* 图片 */
.post-gallery {
    margin: -40px -40px 30px -40px !important;
}
.post-gallery-image {
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}
.post-gallery-image img {
    transition: transform 1s ease-out;
}
.post-gallery-image img:hover {
    transform: scale(1.05);
}
.archive, .tag, .category {
    .post-gallery {
        margin: 15px 0 !important;
        min-height: 80px;
    }
    .post-gallery-image {
        overflow: hidden;
        border-radius: 10px;
    }
}
.post-body em {
    color: red;
}
.archive-list-count {
    padding-left: 5px;
    color: color-grey;
    font-size: 0.85em;
}
.archive-list-count:before {
    content: "(";
}
.archive-list-count:after {
    content: ")";
}

.posts-collapse .post-content .collection-title::before{top: 15px;}

.archive-list-yearly{
    overflow:hidden;
    font-size:14px;

.links-of-blogroll-list {
    margin:10px 0 0 0px
    overflow:hidden;
}
.links-of-blogroll-list .archive-list li{
  float: left;
  width: 120px;
  margin:2px 0;
  list-style: none;
}

}

.posts-collapse .post-content .collection-year{
    margin: 30px 0;
}

.post-body blockquote{}
.post-body blockquote ul{margin-left:-15px;}
.post-body blockquote code{font-size:14px; }
.gray{color:gray;}


.category-all {margin-left:30%;min-height:490px;}

.category-all .category-list{
    list-style: circle;
}

.category-all .category-list ul.category-list-child { /* 子菜单平时不显示 */
    display:none;
}

.category-all .category-list-count {
    color: #999;
    margin-left: 5px;
    cursor: pointer;
    font-size: 12px;
    padding: 0px 3px;
    border-radius: 10px;
    
}
.category-all .plus{
    color:#fff;
    background-color: #9b2095;
    font-weight: bold;
}
.category-all .plus:after{
        content: ')  +';
    }

.category-all .plus.minus {
    }

.category-all .minus:after {
        content: ')  -';
    }


